*.log
.svn
.owner
identity.key
hello-world/work/plugins/
hello-world/work/queue.xml.bak
hello-world/work/secret.key
hello-world/work/secrets
hello-world/work/updates
hello-world/work/userContent
hello-world/work/secret.key.not-so-secret
hello-world/work/hudson.scm.CVSSCM.xml
hello-world/work/jobs/commons-lang3/builds/
hello-world/work/jobs/commons-lang3/lastStable
hello-world/work/jobs/commons-lang3/lastSuccessful
hello-world/work/jobs/commons-lang3/modules/
hello-world/work/jobs/commons-lang3/nextBuildNumber
hello-world/work/jobs/commons-lang3/svnexternals.txt
fhello-worl/wor/kingerprints
hello-worl/work/jobs/commons-lang3/workspace
thello-worl/work/tools
